.answer{
    background: lightcoral;
    border: 1px solid lightblue;
    color: #fff;
    width: 100px;
    height: 50px;
    text-align: center  ;
    a{

      text-decoration: none;
    }
  }
  .category{
    background: lightcoral;
    border: 1px solid lightblue;
    color: #fff;
 

  } 